@use "abstracts/variables";
%menu {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 25;
    height: 50px;
    padding: 4px 8px;
}

@mixin btn ($bg, $color) {
    background-color: $bg;
    color: $color;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color .3s;
    font-weight: 600;
}

.btn-darkened {
    @include btn(variables.$primary-color, variables.$color-light);
    &:hover {
        background-color: variables.$darkened-color;
    }
    &.dark {
        background-color: variables.$color-light;
        color: variables.$primary-color;
    }
    &.dark:hover {
        background-color: variables.$lightened-color;
    }
}

#btn-menu {
    display: none;
    @extend %menu;
    span {
        color: black;
    }
}

#btn-close {
    display: none;
    @extend %menu;
    span {
        color: white;
    }
}

@media (max-width:505px) {
    #btn-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0.5rem;
        margin-left: auto;
        z-index: 30;
        transition: 0.4s ease-out;
    }
    #btn-menu.close {
        display: none;
        position: relative;
    }
    #btn-close {
        position: absolute;
        display: none;
        margin-left: auto;
    }
    #btn-close.show {
        display: flex;
        top: 0;
        right: 0;
    }
}