@use "abstracts/variables";
%flex-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

%lists-center {
    list-style: none;
    display: flex;
    justify-content: center;
}

 :root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$primary-color;
        color: variables.$color-light;
    }
}

body {
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    font-weight: 600;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.dark {
    background-color: variables.$primary-color;
    color: variables.$color-light;
    footer {
        border-top: 1px solid rgba(255, 255, 255, 0.226);
    }
}

header {
    font-family: variables.$font-stack;
    @extend %flex-layout;
    width: 100%;
    .lab-name {
        height: 95%;
        display: flex;
        align-items: flex-start;
        font-size: 1.3rem;
        margin-left: 2rem;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 8px 12px;
        background-color: azure;
        border-radius: 8px;
    }
}

// Nesting inom nav
nav {
    display: flex;
    ul {
        @extend %lists-center;
        gap: 1rem;
        align-items: stretch;
        margin-right: auto;
    }
    li {
        display: flex;
    }
    a {
        display: flex;
        padding: 6px 10px;
        text-decoration: none;
        color: variables.$color-light;
        height: 100%;
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 1px;
        border-radius: 8px;
        background-color: variables.$complement2-color;
        box-sizing: border-box;
        &:hover {
            background-color: variables.$lightened-color;
            transition: .3s;
        }
    }
    a:active {
        background-color: variables.$darkened-color;
        color: variables.$color-light;
    }
}

.image-area {
    /*  @extend %flex-layout;*/
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: auto;
    gap: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
    img {
        border-radius: 8px;
        box-shadow: 0 0 5px 2px black;
        border: 2px solid variables.$element-color;
        &:hover {
            transform: scale(1.02);
            border: 2px solid white;
            transition: .5s;
        }
    }
}

main {
    margin: 0 auto;
    flex: 1;
    max-width: 1240px;
    text-align: center;
    font-family: variables.$text-main;
    section {
        @extend %flex-layout;
        justify-content: flex-start;
        flex-direction: column;
    }
    .sass-section {
        width: 75ch;
        line-height: 1.5;
        text-align: left;
        box-shadow: 0 0 10px 5px rgb(0, 0, 0);
        padding: 1rem;
        margin-top: 2rem;
    }
    li {
        margin-bottom: 1rem;
    }
}

footer {
    @extend %flex-layout;
    font-family: variables.$text-fantasy;
    height: 60px;
    background-color: variables.$primary-color;
    color: white;
    width: 100%;
}

@media (max-width:950px) {
    .image-area {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    nav {
        margin-left: auto;
        margin-right: 1rem;
        ul {
            gap: 0.5rem;
        }
        a {
            font-size: 1rem;
            letter-spacing: 0.5px;
        }
    }
}

@media (max-width:768px) {
    nav {
        position: fixed;
        align-items: unset;
        justify-content: unset;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(10em, 100%);
        z-index: 15;
        transition: right 0.4s ease-in;
        background-color: #272832;
    }
    #btn-menu {
        display: flex;
        margin-left: auto;
    }
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:475px) {
    .image-area {
        img {
            width: 95%;
            height: auto;
        }
    }
}