@use "abstracts/variables";
:root {
    color-scheme: light dark;
}

body {
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
    font-family: variables.$font-stack;
    font-weight: 600;
}

body.dark {
    background-color: variables.$primary-color;
    color: variables.$color-light;
}

nav {
    gap: 5rem;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    li {
        background-color: variables.$element-color;
        border-radius: 8px;
        display: flex;
        &:hover {
            background-color: adjust(variables.$element-color, 10%);
        }
    }
    a {
        display: flex;
        padding: 6px 10px;
        text-decoration: none;
        color: variables.$color-light;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.image-area {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

img {
    border-radius: 8px;
    box-shadow: 0 0 5px 2px black;
    border: 2px solid variables.$element-color;
    &:hover {
        transform: scale(1.02);
        border: 2px solid variables.$color-light;
        transition: .3s;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$primary-color;
        color: variables.$color-light;
    }
}