        @use "abstracts/variables";
        %flex-layout {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        
        %lists-center {
            list-style: none;
            display: flex;
            justify-content: center;
        }
        
        @mixin text-style($size) {
            font-size: $size;
            @if $size>=1.2rem {
                color: white;
            }
            @else {
                color: black;
                background-color: variables.$btn-color;
            }
        }
        
        body {
            background-color: variables.$secondary-color;
            color: variables.$primary-color;
            font-weight: 600;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            h1 {
                margin-bottom: 0;
                text-align: center;
            }
        }
        
        body.dark {
            background-color: variables.$primary-color;
            color: variables.$color-light;
            footer {
                border-top: 1px solid rgba(255, 255, 255, 0.226);
            }
        }
        
        @media (prefers-color-scheme: dark) {
            body {
                background-color: black;
                color: white;
            }
        }
        
        header {
            font-family: variables.$font-stack;
            @extend %flex-layout;
            width: 100%;
        }
        
        // Nesting inom nav
        #nav-menu {
            display: flex;
            ul {
                @extend %lists-center;
                gap: 1rem;
                align-items: stretch;
                margin-right: auto;
            }
            li {
                display: flex;
            }
            a {
                display: flex;
                padding: 6px 10px;
                text-decoration: none;
                color: variables.$color-light;
                height: 100%;
                font-weight: 600;
                @include text-style(1.2rem);
                letter-spacing: 1px;
                border-radius: 8px;
                background-color: variables.$complement-color;
                box-sizing: border-box;
                &:hover {
                    background-color: variables.$lightened-color;
                    transition: .3s;
                }
            }
            a:active {
                background-color: variables.$darkened-color;
                color: variables.$color-light;
            }
        }
        
        .image-area {
            /*  @extend %flex-layout;*/
            display: grid;
            grid-template-columns: repeat(2, 450px);
            grid-template-rows: auto;
            gap: 2rem;
            margin-bottom: 5rem;
            width: 100%;
            height: auto;
            img {
                border-radius: 8px;
                box-shadow: 0 0 5px 2px black;
                border: 2px solid variables.$element-color;
                &:hover {
                    transform: scale(1.02);
                    border: 2px solid white;
                    transition: .5s;
                }
            }
        }
        
        main {
            margin: 0 auto;
            flex: 1;
            max-width: 1240px;
            text-align: center;
            font-family: variables.$text-main;
            section {
                @extend %flex-layout;
                justify-content: flex-start;
                flex-direction: column;
            }
            .sass-section {
                width: 90%;
                max-width: 65ch;
                line-height: 1.5;
                text-align: left;
                box-shadow: 0 0 10px 5px rgb(0, 0, 0);
                padding: 0.5rem;
                margin-top: 1rem;
            }
            li {
                margin-bottom: 1rem;
            }
        }
        
        footer {
            @extend %flex-layout;
            font-family: variables.$text-fantasy;
            height: 60px;
            background-color: variables.$primary-color;
            color: white;
            width: 100%;
            margin-top: 1rem;
        }
        
        @media (max-width:950px) {
            .image-area {
                grid-template-columns: 1fr;
                justify-items: center;
            }
            #nav-menu {
                margin-left: auto;
                margin-right: 1rem;
                ul {
                    gap: 0.5rem;
                }
                a {
                    @include text-style(1rem);
                    letter-spacing: 0.5px;
                }
            }
        }
        
        @media (max-width:768px) {
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 1em;
            }
        }
        
        @media (max-width:505px) {
            #nav-menu {
                display: flex;
                position: fixed;
                top: 0;
                left: -100;
                height: 100vh;
                width: 100%;
                z-index: 15;
                transform: translateX(100%);
                transition: left 0.4s ease-in-out;
                background-color: variables.$primary-color;
                margin-right: 0;
                padding: 0;
            }
            #nav-menu.show {
                display: flex;
                transform: translateX(0);
                left: 0;
                width: 100%;
                ul {
                    flex-direction: column;
                    gap: 2rem;
                    margin-left: auto;
                }
                li {
                    width: 100%;
                }
            }
            .image-area {
                img {
                    width: 95%;
                    height: auto;
                }
            }
            main {
                .sass-section {
                    margin-top: 5rem;
                }
            }
        }